.title{
    text-align: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 3vh;
    font-size: 48px;
    color: rgb(83, 17, 17);
    text-decoration: line-through;
}
.caption{
    color: rgb(20, 63, 49);
    font-size: 24px;
    line-height: 26px;
    margin-left: 5%;
    font-style: italic;
    text-align: left;
}
.row1{
    display: flex;
}
.loginbtn{
    margin-top: 8vh;
    margin-right: 5%;
    /* padding-bottom: none; */
    height: 30px;
    border-radius: 45px;
    width: 100px;
    border: 1px solid rgb(83, 17, 17);
}