.customizeSearch
{
  -moz-border-radius: 1.875rem;
  -webkit-border-radius: 1.875rem;
  width: 60%;
  height: 40px;  
  background: white;
  border: 2px solid rgb(101, 141, 109);
  box-sizing: border-box;
  outline: none;
  color: black;
  font-size: 14px;
  font-family: roboto;
  text-indent: 20px;
  padding-Right: 10%;
  margin-top: 2px;
  margin-left: 20%;
}
.icon{
  margin-left: -30px;
  margin-top: 8px;
}
.searchdiv{
  display: flex;
  margin-top: 5vh;

}
.searchhome{
  /* border:2px solid rgb(101, 141, 109) !important; */
  width: 100%;

}
.listbtn{
  background-color: white;
  color: rgb(77, 24, 24);
  padding: '12px';
     width: 100%;
    border: none;
     width: '100%' ;
     height: 40px;
     border:2px solid rgb(101, 141, 109);

list-style-type: none;
    }
    .listbtn:hover{
      background-color: rgb(101, 141, 109);
    }
.select{
  width: 60%; 
  position: absolute;
  background-color: white;
  z-index: 10;
  border-radius: 10px;
  border:2px solid rgb(101, 141, 109);
  color: rgb(83, 17, 17);;
  margin-left: 20%;
  display: block;
}
.table{
  margin-top: 20px;
  width: 90% !important;
  margin-left: 5%;
  color: rgb(28, 66, 36) !important;
  border:2px solid rgb(101, 141, 109) !important;
  background-color: rgb(221, 231, 228) !important;
  overflow-x: none;


}
td, th{
  color:rgb(29, 49, 37) !important;
  text-align: left !important;
}
.tablediv{
  width: 100%;

}

.r1,.r2{
  display: flex;
  height: auto;
}
.r1 label{
  width: 180px;
  margin-right: 20px;
  padding: 5px;
}
.r1 label span{
  color: brown;
}
.single{
  /* background-color: azure; */
  margin-left: 10%;
  margin-top: 20px;
  border: 1px solid rgb(243, 222, 222);
  padding: 20px;
  margin-right: 5%;
}
.r2 label{
  width: 180px;

  background-color: rgb(163, 197, 186);
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;

}
.r2 label span{
  color: brown;

}
.r0{
  font-size: 24px;
  text-align: left;
  font-weight: 500;
}
@media screen and (max-width: 680px){
.r1,.r2{
  display: inline;
}
.r2 label{
  background-color: white;
}

}